@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

header{
    background: black;  
}

.home{
    background: url(./background\ light\ img.jpg);
    background-position: bottom


}

    /* body{
    background: black 

} */

a {
    color: #fff;
    text-decoration: none;
} 

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 9%;
    background-color: #050e00;
    border-bottom: rgb(27, 26, 26) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 35px;
    font-weight: 700;

}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #7cf03d;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 6px 9% 0;
    color: #fff;
    border-bottom: gray solid;
}

.home-info h1 {
    font-size: 47px;
    
}

.webfd {
    color: #7cf03d;
}

.home-info h2 {
    font-size: 32px;
    margin-top: -5px;
}

.home-info p {
    font-size: 18px;
    margin: 10px 0 25px;
    text-justify: inter-word;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 8px 8px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 16px;
    color: #1f242d;
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 15px;
}

.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;

}

.home-info .btn-sci .sci a:hover {
    background: #7cf03d;
    color: #000;
    box-shadow: 0 0 10px #7cf03d;
    transition: .5s;
    box-shadow: 0 0 10px;
}

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
    transform: rotate(0deg);
    animation: rotate-border 8s linear infinite;
}

@keyframes rotate-border {
    100% {
    transform: rotate(360deg)}
    }

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.973);
    border-radius: 50%;
    border: .1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    display: block;
    width: 75%;
    
}


.button_1 {
    display: inline-block;
    padding: 5px 5px;
    background: #7cf03d;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 0 0 10px;
    font-size: 12px;
    color: #1f242d;
    font-weight: 500;
    transition: .5s;
}

.button_1 {
        background: transparent;
        color: #7cf03d;
        box-shadow: none;
}

#active {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #7cf03d; 
    margin: 20px 0; 
    text-align: left; 
}

#active a {
    color: rgb(197, 8, 8); 
    text-decoration: none; 
    transition: color 0.3s; 
}

#active a:hover {
    color: rgb(161, 161, 8); 
    text-decoration: underline; 
}

#para1 {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #fff; 
    margin: 20px 0; 
    text-align: right; 
}

p a{
    font-color: #fff;
    color #fff;
}
#bio{
    cursor: pointer;
    padding: 150px 70px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #fff;
}

.leftbio{
    flex-basis: 40%;
}

.rightbio{
    flex-basis: 60%;
    color: #000;
}

.leftbio img{
    width: 100%;
    height: 700px;
    border-radius: 8px;
}

.rightbio{
    text-align: right;
    padding: 0 40px;
}

.rightbio p{
   margin: 15px 0;
   line-height: 2.5rem; 
}

.rightbio h2{
    font-size: 3rem;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

#follow{
    text-align: center;
}

#follow a{
    color: green;
    font-size: 1.5rem;
    margin: 0 0.5rem;

}

.link-h{
    text-align: center;
    margin-top: 3rem;
}

#cv{
    text-decoration: none;
    color: #7cf03d;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0 1rem;
    border 1px dashed grey;
}






